.todoFilters {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.todoFilters li {
    margin-right: 5px;
    padding: 0;
    border-bottom: 0;
}

.todoFilters button:hover {
    color: #333;
}

.todoFilters button:active {
    color: #000000;
}