.todoFilters {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.todoFilters li {
    margin-right: 5px;
    padding: 0;
    border-bottom: 0;
}

.todo-filter:hover {
    color: #333;
}

.todo-filter.active,
.todo-filter.completed {
    color: #333;
}