input[type="checkbox"] {
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: "";
    display: block;
    position: absolute;
    inset: 2px;
    background-color: #0080ff;
    border-radius: 50%;
}

input[type="checkbox"]:disabled {
    background-color: #e7e7e7;
    cursor: not-allowed;
}