.delete-btn {
    margin-left: auto;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e8e8e8;
    cursor: pointer;
    display: none;
}

.delete-btn:hover {
    color: #ff6666;
}

li:hover .delete-btn {
    display: inline-block;
}

li label {
    text-decoration: none;
    cursor: pointer;
}

li input[type="checkbox"]:checked+label {
    text-decoration: line-through;
}